*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
color: rgb(5, 5, 5);
   font-size: 26px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   text-decoration: none;

}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(126, 168, 154);
    height: 80px;

}

#navList {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
    

    
}

.navLinks {
    text-decoration: none;
    color: rgb(61, 56, 56);
}


#section1 {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}